branches:
  only:
    - master

language: php

dist: trusty

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - nightly

env:
  global:
    - PATH="$HOME/.composer/vendor/bin:$PATH"

matrix:
  fast_finish: true
  include:
    - dist: precise
      php: 5.3
    - dist: precise
      php: 5.3
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 7.3
      env: COMPOSER_VERSION=1.*
    - php: 7.3
      env: COMPOSER_VERSION=2.*@dev
    - php: 7.3
      env: COMPOSER_VERSION=dev-master
  allow_failures:
    - php: nightly
    - env: COMPOSER_VERSION=dev-master

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

before_install:
  - echo "memory_limit=4096M" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - composer global require 'phpunit/phpunit:>=4.0, <6' satooshi/php-coveralls:@stable codeclimate/php-test-reporter:@stable --no-update
  - if [ "$COMPOSER_VERSION" != "" ]; then composer require "composer/composer:${COMPOSER_VERSION}" --no-update; fi;

install:
  - composer global update --prefer-dist --no-interaction
  - composer update --prefer-dist --no-interaction $COMPOSER_FLAGS

script: phpunit -c phpunit.xml.dist --coverage-clover build/logs/clover.xml

after_script:
  - coveralls -v
  - test-reporter
